<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

     <div class="customr-wrapper">
      <h1>Edit Your Account</h1>
      <a href="/account">Back to account</a>
      {% include 'customr' %}
   	 </div>

