<!-- /templates/customers/register.liquid -->

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">


    
    <h1>{{ shop.metafields.locales.edit_account }}</h1>
    
        {% capture the_snippet_social_icons %}{% include 'ssw-widget-social-login' %}{% endcapture %}
    {% unless the_snippet_social_icons contains 'Liquid error' %}
    {{ the_snippet_social_icons }}
    {% endunless %}

    <div class="form-vertical">
        <div class="customr-wrapper">
          {% include 'customer-fields' %}
        </div>

    </div>

  </div>

</div>
