<!-- /templates/customers/register.liquid -->

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">
    


    
    <h1 class="gtext">FF SOCIETY
BEAUTY PROFILE INFORMATION</h1>
    
    <div class="rte">
   <center class="btext"> <p>Udipsanist molorruptat ipsunt quiatia cum quis eum renecte prorunt. Cescia coris sapis dus
     dus dollit occus es es doluptum fugia et earumen ihitatet velique cus ut voluptatur.</p></center>
        
    {% unless the_snippet_social_icons contains 'Liquid error' %}
    {{ the_snippet_social_icons }}
    {% endunless %}

    <div class="form-vertical">
        <div class="customr-wrapper">
          {% include 'customer-fields' %}
        </div>
      
		
    </div>
    
	
 
    </div>
    <!--<div class="bg-triangle-pink marquee"></div>
    <div class="bg-triangle-blue marquee"></div>
    <div class="bg-triangle-yellow marquee"></div>-->
</div>
 
</div>