<div id="customer-fields" {% unless customer %}data-registration="true"{% endunless %}>
  {% form 'create_customer' %}
    <input type="hidden" name="shop" value="{{ shop.permanent_domain }}">
    <div class="fields"><!-- Fields loaded from server --></div>
    <div class="form-footer"></div>
    <script>
      var Customr = {
        baseUrl: "https://customr.heliumdev.com",
        ready: function() {
          document.querySelector('#customer-fields input[type="submit"]').className = 'gbtn register-submit-btn button';
          document.querySelector('#customer-fields input[type="submit"]').setAttribute("value", "SUBMIT");
        // document.getElementById("create_customer").method = "get";
   // document.getElementById("create_customer").action = "customers/account";
          $(".cancel-form").remove();
         
        },
        
        {% if customer %}
          shopifyCustomer: {
            id: {{ customer.id }},
            token: {{ customer.metafields.customr_auth.token | json }}
          }
        {% endif %}
      };
      
    </script>
  <script>
  
  </script>
  
    <script src="https://cdn-customr.heliumdev.com/assets/v2/embed.js"></script>
  {% endform %}
</div>
