{% capture ssw_widget_review_bar %}{% include 'ssw-widget-review-bar' %}{% endcapture %}
{% unless ssw_widget_review_bar contains 'Liquid error' %}
	{{ ssw_widget_review_bar }}
{% endunless %}
<div id="ssw-reviews-photoviewer-modal" class="ssw-modal ssw-fade" aria-hidden="true" role="modal" data-auto-align="true">
    <div class="ssw-modal-dialog">
        <div class="ssw-modal-content">
            <div class="ssw-modal-body">
                <button type="button" class="ssw-close ssw-close-modal" data-dismiss="ssw-modal"
                        aria-hidden="true">&times;</button>
                <div class="ssw-reviews-photoviewer-content">
                    <div class="ssw-reviews-photoviewer-container">
                        <div class="ssw-reviews-photoviewer-image ssw-text-center">
                            <div class="ssw-reviews-photoviewer-image-wrapper">
                                <img class="ssw-transparent" src=""/>

                                <div class="ssw-page-loading ssw-img-loading">
                                    <span class="ssw-spin ssw-loader"></span>
                                </div>
                            </div>
                            <div class="ssw-reviews-photoviewer-video-wrapper ssw-hide"></div>
                        </div>
                        <div class="ssw-reviews-photoviewer-thumbnails ssw-text-center">
                        </div>
                    </div>
                </div>
            </div>
            <i class="ssw-icon-angle-left ssw-prev"></i>
            <i class="ssw-icon-angle-right ssw-next"></i>
        </div>
    </div>
</div>